nav{
  text-align: left;
}

nav a{
  text-decoration: none;
  padding: 1em;
  color: black;
  border-radius: 5px;

}

nav a :last-child{
  background: #ffffff;
  color:white;
}
header{
  text-align: center;
}
img{
  border-radius: 50%;
}