nav{
  text-align: left;
}

nav a{
  text-decoration: none;
  padding: 1em;
  color: black;
  border-radius: 5px;

}

nav a :last-child{
  background: #ffffff;
  color:white;
}
header{
  text-align: center;
}
img{
  border-radius: 100%;
}

td,th,table{
  background-color: blue;
  border-collapse: collapse;
}

button{
  color: green;
  background-color: green;
}

h1{
  color: hotpink;
}


/* NAV BAR */
/* #menuToggler {
  position: fixed;
  top: 0.5em;
  right: 0.5em;
  height: 1em;
  width: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 20;
  background-color: orange;
  padding: 0.25em;
}
#menuToggler div {
  height: 20%;
  background: white;
  transition: transform 0.3s;
}
#menuToggler.open div:nth-child(1) {
  transform: translateY(0.3em) rotate(45deg);
}
#menuToggler.open div:nth-child(3) {
  transform: translateY(-0.5em) rotate(-45deg);
}
#menuToggler.open div:nth-child(2) {
  opacity: 0;
}
header nav {
  font-weight: 100;
  letter-spacing: 0.25em;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  transform: translate(100vw);
  transition: transform 0.4s;
  z-index: 15;
}

#menuToggler.open + header nav {
  transform: translate(0);
}

header nav a {
  color: white;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0.5em 0;
} */