@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
table{
    border: 1px black;
    border-collapse: collapse;
    padding: 15px;
    border-spacing: 5px; 
    margin-left: auto;
    margin-right: auto;
}
td{
    text-align: center;
}
tr:hover{
    background-color: #f5f5f5;
}
th{
    background-color: lightslategray;
    color: white;
}
h1{
    text-align: center;
    font-family: 'EB Garamond', serif;
    font-size: 80px;
}

button{
    background-color: #606a6e;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    transition-duration: 0.4s;

}
a{
  margin: 0;
  padding:0;
  text-decoration: none;
  color: black;
  font-size: 19px;
  letter-spacing: 1px;
}

a:hover{
    background-color: rgb(168, 168, 172);
}

button:hover{
    background-color: rgb(207, 207, 207);
}


form.input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  form.input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  form.input[type=submit]:hover {
    background-color: #45a049;
  }
  
  div {
    border-radius: 5px;
    background-color:transparent;
    padding: 20px;
  }

  input[type=text] {
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 100%;
  }

  /* .banner img {
    float: left;
    width: 100px;
    height: 100px;
  }
  
  .banner h1 {
    position: relative;
    top: 18px;
    left: 10px;
  } */


:root {
  --borderWidth: 10px;
  --height: 45px;
  --width: 21px;
  --borderColor: #000000;

}

body {
  padding: 20px;
  text-align: center;
  background-color: lightgrey;
}

.check {
  display: inline-block;
  transform: rotate(45deg);
  height: var(--height);
  width: var(--width);
  border-bottom: var(--borderWidth) solid var(--borderColor);
  border-right: var(--borderWidth) solid var(--borderColor);
  text-align: right;

}
.boxed {
  height: 90px;
  width: 95px;
  border: 10px solid black;
  text-align: right;
}


.box{
    border: 3px solid black;
}
  
  
.overlay {
position: absolute;
bottom: 0;
left: 0;
right: 0;
overflow: hidden;
width: 0;
height: 100%;
transition: .5s ease;
background-color: transparent;
}

.container:hover .overlay {
width: 100%;
}

.text {
white-space: nowrap;
color: black;
font-size: 40px;
position: absolute;
overflow: hidden;
top: 60%;
left: 12%;
transform: translate(-30%, -50%);
-ms-transform: translate(-50%, -50%);
right: -1900px
}

.container {
position: relative;
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}

.image {
display: block;
width: 100%;
height: auto;
}
.imgleicester{
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}

img{
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}


p{
font-size: 25px;
text-align:center;
}



nav{
  background-color: lightslategray;
  padding: 10px 0px;
  border-right: 1px solid black;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
  text-align: center;
  justify-content: space-around;
  display: flex;
}