<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
        {% block head %} {% endblock %}
</head>
<body>
    <div class="banner">
        <h1>Labels Suit Agency <img id ="logo-tick" src=./resources/images/Logo.png alt=""> </h1>
        <!-- nav bar and logo-->
    </div>

    <nav>
        <a href="/loggedin">Home</a>
        <a href="/userpage">Users</a>
        <a href="/solditems">Sold Items</a>
        <a href="/listingpage">Listings</a>
        <a href="/supplierpage">Suppliers</a>
        <a href="/stockpage">Stock</a>
        <a href="/customerpage">Customers</a>
        <a href="/logoff">Log off</a>
    </nav>
    {% block body %} {% endblock %}
</body>
</html>