<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="main.css"> -->
    <link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet">
        {% block head %} {% endblock %}
</head>
<body>
    <div class="banner">
        <h1>Labels Suit Agency <img id ="logo-tick" src=./resources/images/Logo.png alt=""> </h1>
        <!-- nav bar and logo-->
    </div>
    <!-- <div id="menuToggler" class="=no-print">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <header>
        <nav id="menu">
            <a href="/loggedin">Home</a>
            <a href="/userpage">Users</a>
            <a href="/solditems">Sold Items</a>
            <a href="/listingpage">Listings</a>
            <a href="/supplierpage">Suppliers</a>
            <a href="/stockpage">Stock</a>
            <a href="/customerpage">Customers</a>
            <a href="/currentuser">Current User</a>
            <a href="/logout">Log out</a>
        </nav>
      </header>
      <script src="js/scripts.js"></script> -->
    <nav>
        <a href="/loggedin">Home</a>
        <a href="/userpage">Users</a>
        <a href="/solditempage">Sold Items</a>
        <a href="/listingpage">Listings</a>
        <a href="/supplierpage">Suppliers</a>
        <a href="/stockpage">Stock</a>
        <a href="/customerpage">Customers</a>
        <a href="/currentuser">Current User</a>
        <a href="/logout">Log out</a>
    </nav>

    <!-- {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %} -->
    {% block body %}{% endblock %}
</body>
</html>