{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html"%}

{% block head %} 
<title>Compile Monies Due</title>
{% endblock %}

{% block body %}
<h2>Complie Monies Due</h2S>
    <br>
    </br>
{{ wtf.quick_form(form) }}
{% with messages = get_flashed_messages() %}
{% if messages %}
    <ul class="flash">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
{% endwith %}
<div class="back">
    <a href="./loggedin"><button>Back</button></a>

</div>
{% endblock %}
