{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html"%}

{% block head %} 

{% endblock %}

{% block body %}
<title> Showing Current User</title>
<h2> Current User </h2>
<br></br>
<tbody>
    <tr>
        <th>UserName:</th>
        <th>{{ current_user.username }}</th>
    </tr>
    <br></br>
    <tr>
        <th>Email:</th>
        <th>{{ current_user.email }}</th>
    </tr>
    <br></br>
    <tr>
        <th>Admin? 1=Yes 0=No:</th>
        <th>{{ current_user.admin }}</th>
    </tr>
</tbody>
<br></br>
<div class="back">
    <a href="./loggedin"><button>Back</button></a>

</div>
{% endblock %}
