{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html"%}

{% block head %} 
<title>Delete Customer</title>
{% endblock %}

{% block body %}
{{ wtf.quick_form(form) }}
{% from "_formhelpers.html" import render_field %}
<form method="post">
    <dl>
        {{ render_field(form.customerfirstname) }}
        {{ render_field(form.customersurname) }}
        {{ render_field(form.email) }}
    </dl>
    <p><input type="submit" value="Delete">
</p></form>


<div class="back">
    <a href="./customerpage.html"><button>Back</button></a>

</div>
{% endblock %}
