{% import "bootstrap/wtf.html" as wtf %}
{% from '_formhelpers.html' import render_field %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link href="{{url_for('static', filename='css/main3.css')}}" rel="stylesheet">
</head>
<body>
 
    <div class="banner">
        <h1>Labels Suit Agency <img id ="logo-tick" src=./resources/images/Logo.png alt=""> </h1> </h1>
        
        <!-- add nav bar and log in sign up-->
        <div class="boxed">
            <div class="check"></div>
        </div>
    </div>

    {{wtf.quick_form(form)}}

    <p>Forgot Your Password?</p>

    <p>
        Forgot Your Password?
        <a href="{{ url_for('reset_password_request') }}">Click to Reset It</a>
    </p>
    <!-- reset password 3 lines-->
    <!---
    {{render_field(form.username, class='form-control')}}
    {{render_field(form.password, **{"class":'form-control',"aria-described-by":"passwordHelpBlock"})}}
   -->
    <span id ="passwordHelpBlock" class="help-block"><a href="{{url_for('.forgot') }}">Forgot Password</a></span>

    <br>
    <br>
    <div class="back">
        <a href="./"><button>Back</button></a>

    </div>

</body>
</html>