{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link href="{{url_for('static', filename='css/main4.css')}}" rel="stylesheet">
</head>
<body>
 
    <div class="banner">
        <h1>Labels Suit Agency <img id ="logo-tick" src=./resources/images/Logo.png alt=""> </h1> </h1>
        
        <!-- add nav bar and log in sign up-->

    </div>

    {{wtf.quick_form(form)}}

    <p>
        Forgot Your Password?
        <a href="reset_password_request">Click to Reset It</a>
    </p>


    <br>
    <br>
    <div class="back">
        <a href="./"><button>Back</button></a>

    </div>

</body>
</html>