{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html"%}

{% block head %} 
<title>Stock Page</title>
{% endblock %}

{% block body %}
<h2>Stock Page</h2S>
    <br>
    </br>
{{ wtf.quick_form(form) }}
{% with messages = get_flashed_messages() %}
{% if messages %}
    <ul class="flash">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
{% endwith %}
<a href="./allstock"><button>All Stock</button></a>
<a href="./addstock"><button>Add Stock</button></a>


<div class="back">
    <a href="./loggedin"><button>Back</button></a>

</div>
<div class ="box">

    <br></br>


    <section data-name = "canali">
    <div class="container">
        <img src="https://www.jing.fm/clipimg/detail/83-836979_suit-png-image-men-in-suits-png.png">
        <div class="overlay">
        <div class="text">£430</div>
        </div>
    </div>
    <p> Canali Grey Suit. 2 button with wide pockets</p>
    <p> Stock ID: 12 </p>
    <p> Supplier ID: 3</p>
    </section>
    <br></br>
    <section data-name = "oscar">
    <div class="container">
        <img src="https://media.viskan.com/v2/oscarjacobsonprod/list/Oscar-Jacobson_Elmer-Suit_237-Blue-print_SA20783116_237_List.jpg">
        <div class="overlay">
        <div class="text">£270</div>
        </div>
    </div>
    <p> Oscar Jacobson Suit navy. 3 button waist coat</p>
    <p> Stock ID: 17 </p>
    <p> Supplier ID: 8</p>
    </section>
    <br></br>
    <section data-name = "paulsmith">
    <div class="container">
        <img src="https://i.pinimg.com/originals/92/f4/a1/92f4a1a0c9e932810c6b749c3d4f3fb2.png">
        <div class="overlay">
        <div class="text">£540</div>
        </div>
    </div>
    <p> Paul Smith black blazer. 2 button </p>
    </section>
    <br></br>
    <section data-name = "navy">
    <div class="container">
        <img src="https://w7.pngwing.com/pngs/933/283/png-transparent-pant-suits-tuxedo-male-suit-blue-fashion-navy-blue.png">
        <div class="overlay">
        <div class="text">£350</div>
        </div>
    </div>
    <p>Tiger of Sweden navy Suit </p>
    </section>

    </div>

{% endblock %}
