{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="{{url_for('static', filename='css/pictures47.css')}}" rel="stylesheet">
</head>
<body>
 
    <div class="banner">
        <h1>Labels Suit Agency <img id ="logo-tick" src=./resources/images/Logo.png alt=""> </h1> </h1>
        <div class="boxed">
            <div class="check"></div>
        </div>
        <!-- add nav bar and log in sign up-->
    </div>

    
    {{wtf.quick_form(form)}}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flash">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

    <div class="back">
        <a href="./"><button>Back</button></a>

    </div>
</body>
</html>

