{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html"%}

{% block head %} 

{% endblock %}

{% block body %}
<title> Results</title>
<h1> Results Page</h1>
<br></br>




    {{ table }}



<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">

<table id="myTable">
  <tr class="header">
    <th style="width:60%;">Name</th>
    <th style="width:40%;">Country</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Berglunds snabbkop</td>
    <td>Sweden</td>
  </tr>
  <tr>
    <td>Island Trading</td>
    <td>UK</td>
  </tr>
  <tr>
    <td>Koniglich Essen</td>
    <td>Germany</td>
  </tr>
</table> 
{{Hello}}
{{i}}
{{results}}


<div class="back">
    <a href="./loggedin"><button>Back</button></a>

</div>
<script js="scripts.js"></script>
{% endblock %}


