{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html"%}

{% block head %} 
<title>Sold Item Page</title>
{% endblock %}

{% block body %}
{{ wtf.quick_form(form) }}
{% with messages = get_flashed_messages() %}
{% if messages %}
    <ul class="flash">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
{% endwith %}

<a href="./addsolditem"><button>Add Sold Item</button></a>
<a href="./allsolditems"><button>Show All Sold Items</button></a>
<div class="back">
    <a href="./loggedin"><button>Back</button></a>

</div>
{% endblock %}
