{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html"%}

{% block head %} 
<title>Stock Page</title>
{% endblock %}

{% block body %}
<h2>Stock Page</h2S>
    <br>
    </br>
{{ wtf.quick_form(form) }}
{% with messages = get_flashed_messages() %}
{% if messages %}
    <ul class="flash">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
{% endwith %}
<a href="./allstock"><button>All Stock</button></a>
<a href="./addstock"><button>Add Stock</button></a>


<div class="back">
    <a href="./loggedin"><button>Back</button></a>

</div>
<div class ="box">

    <br></br>


    <section data-name = "canali">
    <div class="container">
        <img src="https://www.jing.fm/clipimg/detail/83-836979_suit-png-image-men-in-suits-png.png">
        <div class="overlay">
            <div class="text">£340</div>
        </div>
    </div>
    <p> Canali Grey Suit. 2 button with wide pockets</p>
    <p> Stock ID: 12 </p>
    <p> Supplier ID: 23</p>
    </section>
    <br></br>
    <section data-name = "oscar">
    <div class="container">
        <img src="https://media.viskan.com/v2/oscarjacobsonprod/list/Oscar-Jacobson_Elmer-Suit_237-Blue-print_SA20783116_237_List.jpg">
        <div class="overlay">
            <div class="text">£280</div>
        </div>
    </div>
    <p> Oscar Jacobson Suit navy. 3 button waist coat</p>
    <p> Stock ID: 13 </p>
    <p> Supplier ID: 24</p>
    </section>
    <br></br>
    <section data-name = "paulsmith">
    <div class="container">
        <img src="https://i.pinimg.com/originals/92/f4/a1/92f4a1a0c9e932810c6b749c3d4f3fb2.png">
        <div class="overlay">
            <div class="text">£140</div>
        </div>
    </div>
    <p> Paul Smith black blazer. 2 button </p>
    <p> Stock ID: 14 </p>
    <p> Supplier ID: 25</p>
    </section>
    <br></br>
    <section data-name = "navy">
        <div class="container">
            <img src="https://i.dmarge.com/2018/11/how-to-wear-blue-suit-46-of-51.jpg">
            <div class="overlay">
                <div class="text">£350</div>
            </div>
        </div>
        <p>Tiger of Sweden navy Suit </p>
        <p> Stock ID: 15 </p>
        <p> Supplier ID: 26</p>
    </section>
    <br></br>
    <section data-name = "canali">
        <div class="container">
            <img src="https://cdna.lystit.com/photos/a510-2013/12/30/armani-gray-collezioni-giorgio-end-on-end-suit-contemporary-fit-product-1-16478288-0-830692202-normal.jpeg">
            <div class="overlay">
                <div class="text">£340</div>
            </div>
        </div>
        <p> Armani grey suit. 1 button</p>
        <p> Stock ID: 16 </p>
        <p> Supplier ID: 28</p>
    </section>

    </div>

{% endblock %}
