{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html"%}

{% block head %} 
<title>Supplier Page</title>
{% endblock %}

{% block body %}
<h2>Supplier Page</h2S>
    <br>
    </br>
{{ wtf.quick_form(form) }}
{% with messages = get_flashed_messages() %}
{% if messages %}
    <ul class="flash">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
{% endwith %}
<a href="./allsupplier"><button>All Suppliers</button></a>
<a href="./compilemonies"><button>Compile Money Due To Supplier</button></a>
<a href="./addsupplier"><button>Add Supplier</button></a>
<div class="back">
    <a href="./loggedin"><button>Back</button></a>

</div>
{% endblock %}
